<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('MyShop | '+${pageTitle}, 'none')"/>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>
    <div th:replace="navigation :: search_nav"></div>
    <div th:replace="breadcrumb :: content"></div>
    <div class="row text-center ">
        <th:block th:each="cat : ${category.childrent}">
            <div class="col border" th:if="${cat.enabled==true}">
                <a th:href="@{'/c/' + ${cat.alias}}">
                    <img alt="" class="rounded" height="100" th:src="@{${cat.imagePath}}">
                    <br>
                    <b>[[${cat.name}]]</b>
                </a>
            </div>
        </th:block>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <th:block th:each="product : ${listProducts}">
            <div th:replace="product/product_fragment :: content"></div>
        </th:block>
    </div>
    <!--    paging page-->
    <div class="text-center m-1" th:if="${#lists.size(listProducts) > 0}">
        <span> Showing Products # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div th:if="${#lists.size(listProducts) > 0}">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage>1?'page-item':'page-item disabled'}">
                    <a class="page-link"
                       th:href="@{'/c/'+${category.alias}+'/' + '1' + ${sortDir==null?'':'?sortDir='+sortDir}
                        + ${sortField==null?'':'&sortField=' +sortField} + ${categoryId!=null?'&categoryId=' + categoryId:''} + ${keyword==null?'':'&keyword='+keyword} }">First</a>
                </li>
                <li th:class="${currentPage>1?'page-item':'page-item disabled'}">
                    <a class="page-link"
                       th:href="@{'/c/'+${category.alias}+'/' + ${currentPage-1} + ${sortDir==null?'':'?sortDir='+sortDir}
                        + ${sortField==null?'':'&sortField=' +sortField} + ${categoryId!=null?'&categoryId=' + categoryId:''} + ${keyword==null?'':'&keyword='+keyword} }">Previous</a>
                </li>
                <li th:class="${i==currentPage?'page-item active':'page-item'}"
                    th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link"
                       th:href="@{'/c/'+${category.alias}+'/' + ${i} + ${sortDir==null?'':'?sortDir='+sortDir}
                        + ${sortField==null?'':'&sortField=' +sortField} +${categoryId!=null?'&categoryId=' + categoryId:''} + ${keyword==null?'':'&keyword='+keyword} }">[[${i}]]</a>
                </li>
                <li th:class="${currentPage < totalPages?'page-item':'page-item disabled'}"><a class="page-link"
                                                                                               th:href="@{'/c/'+${category.alias}+'/' + ${currentPage+1} + ${sortDir==null?'':'?sortDir='+sortDir}
                        + ${sortField==null?'':'&sortField=' +sortField} +${categoryId!=null?'&categoryId=' + categoryId:''} + ${keyword==null?'':'&keyword='+keyword} }">Next</a>
                </li>
                <li th:class="${currentPage<totalPages?'page-item':'page-item disabled'}">
                    <a class="page-link"
                       th:href="@{'/c/'+${category.alias}+'/' + ${totalPages} + ${sortDir==null?'':'?sortDir='+sortDir}
                        + ${sortField==null?'':'&sortField=' +sortField} + ${categoryId!=null?'&categoryId=' + categoryId:''} + ${keyword==null?'':'&keyword='+keyword} }">Last</a>
                </li>
            </ul>
        </nav>
    </div>
    <!--    paging page-->
    <div th:replace="navigation :: footer_menu"></div>
</body>
</html>